{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_review_complete' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>Đánh giá sản phẩm</h1>
        </div>
    </div>
    <div class="ec-registerCompleteRole">
        <div class="ec-off3Grid ec-text-ac">
            <div class="ec-off3Grid__cell">
                <div class="ec-reportHeading">
                    <h2>Cám ơn bạn đã gửi đánh giá</h2>
                </div>
                <p class="ec-reportDescription">Hoàn thành!</p>
                <div class="ec-off4Grid">
                    <div class="ec-off4Grid__cell"><a class="ec-blockBtn--cancel" href="{{ url('product_detail', { id: id }) }}">Xem đánh giá</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}